// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-product-wrapper .product-img{
	max-height: 140px;
}

.single-product-wrapper .product-img .product-favourite a{
	background-color: transparent;
}

.breadcumb_area:after { 
	background-color: #eee !important;
}

